.hero {
  /* border: 1px solid #fff; */
  padding: var(--padding-y) var(--padding-x);
}
.hero__main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: var(--max-width);
  margin: auto;
}
.hero__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero__title {
  font-size: 1.8rem;
  font-family: cursive;
}
.hero__paragraph {
  font-size: 1.1rem;
  max-width: 35rem;
}
.hero__svg {
  width: 20rem;
  object-fit: contain;
}

@media screen and (max-width: 850px) {
  .hero__main {
    flex-direction: column;
  }
}
