.task-from {
  background-color: var(--background);
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.8rem 1rem;
}
.task-form__input {
  border: 1px solid var(--headline);
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .task-from {
    flex-direction: column;
  }
}
