.post {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 0.5rem;
  padding: 1rem;
}
.post__title {
  color: var(--headline);
  font-family: cursive;
  font-size: 1.3rem;
}
.post__body {
  color: var(--paragraph);
}
.post__title::first-letter,
.post__body::first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .post {
    width: 1200px;
  }
}
