.photos {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  gap: 1rem;
}
.photos__section-btn {
  display: flex;
  justify-content: center;
}

.image {
  width: 8.5rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 530px) {
  .image {
    width: 8rem;
  }
}
