.contact {
  max-width: var(--max-width);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: var(--padding-x);
}

.contact-form-container,
.info-list-container {
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 8px var(--highlight);
}
.info-list-container {
  box-shadow: 1px 1px 8px var(--tertiary);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.info-list-container__title {
  font-size: 1.2rem;
  font-family: cursive;
}

@media screen and (max-width: 850px) {
  .contact {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}
