.project-container {
  background-color: #00ffff8e;
}

.content {
  padding: var(--padding-y) var(--padding-x);
  max-width: 1200px;
  margin: auto;
}
.content__title {
  font-size: var(--title-content);
  font-family: cursive;
}
