.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-form__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: var(--highlight);
}
.contact-form__input {
  font-size: 1rem;
  padding: 0.2rem 0.6rem;
  width: 100%;
  border-bottom: 1px solid var(--tertiary);
  color: white;
}
.contact-form__input::placeholder {
  color: var(--paragraph);
}
.contact-form__input:focus {
  outline: none;
  border-bottom: 1px solid var(--highlight);
}
.contact-form__button {
  border-radius: 1rem;
  padding: 0.2rem;
  color: white;
  background-color: var(--highlight);
}
