.card {
  border-radius: 0.5rem;
  overflow: hidden;
  color: #1f1235;
  width: 20rem;
}
@media screen and (min-width: 600px) {
  .card {
    width: 15rem;
  }
}
.card__header {
  background-color: #67568c;
  color: #fff;
  font-size: 1.2rem;
  font-family: cursive;
  padding: 0.2rem 1rem;
  text-align: center;
}
.card__info {
  background-color: #e2daeb;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.3rem 1rem 0.8rem;
  font-size: 0.9rem;
}
.icon {
  color: #67568c;
}

.card__name,
.card__email,
.card__phone,
.card__website {
  display: flex;
  gap: 0.5rem;
}

.card__website {
  text-decoration: underline;
}
